{% trans_default_domain 'FOSUserBundle' %}
<!-- Footer -->
    <footer class="container-fluid bg-4 text-center navbar-fixed-bottom">
        <p>Theme Made By <a href="https://in.linkedin.com/in/aamir-shoeb-b5538695">Aamir Shoeb</a></p> 
    </footer>